<!doctype html>
<html lang="en">
{{> header}}
<body class="bg-body" data-bs-theme="dark">
{{> dashboard_navigation}}
<main style="padding-left: 300px;">
    <h1>Active Domains</h1>
    <div id="domain-container"></div>
    {{> footer}}
</main>
{{> scripts}}
<script>
    let domainList;

    refresh();
    function refresh(){
        const contentFetch = fetch("/api/domain/all");

        Promise.all([contentFetch])
                .then(responses => {
                    const response1 = checkStatus(responses[0]);

                    return Promise.all([response1]);
                })
                .then(data => {
                    let response1 = data[0].json();

                    return Promise.all([response1]);
                })
                .then(data => {
                    domainList = data[0];
                    renderDomains();
                })
                .catch((response)=>{
                    console.log(response);
                    response.json()
                            .then(errorData => {
                                console.log(errorData);
                            })
                            .catch(error => {
                                console.error("Error parsing error response:", error);
                            });
                });
    }

    // Rendering functions
    function renderDomains(){
        let container = document.querySelector("#nav-domain-container");
        let htmlContent = `<li><a onclick="" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>`;
        domainList.forEach((domain) => {
            let htmlDomain = `
                <li><a onclick="viewDomain(${domain.id})" class="link-body-emphasis d-inline-flex text-decoration-none rounded">${domain.name}</a></li>
            `;
            htmlContent+= htmlDomain;
        });
        htmlContent += `<li><a onclick="viewCreateDomain()" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Add Domain</a></li>`;
        container.innerHTML = htmlContent;
    }
</script>
</body>
</html>
