<!doctype html>
<html lang="en">
{{> header}}
<body class="bg-body" data-bs-theme="dark">
{{> navigation}}
<div class="p-0 m-0 overflow-hidden">
    <div class="container-fluid p-0 overflow-hidden bg-black" style="height:600px">
        <div class="position-absolute px-5" style="z-index:1;height:600px; width:100%">
            <div class="container-fluid" style="margin-top:200px;">
                <img src="/static/icons/WS White.svg" class="img-fluid mb-2 banner-logo" />
                <p class="col-md-8 fs-5 text-white text-center w-100">Version {{version}}</p>
            </div>
        </div>
        <video class="banner-video" autoplay preload="true" loop="loop" muted>
            <source src="https://costionline.com/videos/banners/Costi Online Home Banner.m4v" type="video/mp4">
            video not supported
        </video>
    </div>
</div>
{{> footer}}
{{> scripts}}
</body>
</html>
