<div class="text-1" id="footer" style="background-image: url('/static/tiles/WS & Logo Dark.svg'); background-size: 120px;">
    <div class="container py-5">
        <footer>
            <div class="row g-4 row-cols-1 row-cols-lg-5">
                <div class="col">
                    <a href="/About#website" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                        <img src="/static/icons/Constantine Logo v5.svg" alt="Constantine Logo" class="me-2"  style="width:40px">
                    </a>
                    <p class="color-light">Costi Online is developed by Constantine Khamis. Linux support by Cory Robertson</p>
                </div>

                <div class="col d-lg-block d-xs-none">

                </div>

                <div class="col">
                    <h5 class="fw-bold">Main</h5>
                    <ul class="p-0">
                        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-1">Home</a></li>
                        <li class="nav-item mb-2"><a href="/Newsroom" class="nav-link p-0 text-1">Newsroom</a></li>
                        <li class="nav-item mb-2"><a href="/Wiki" class="nav-link p-0 text-1">Wiki</a></li>
                        <li class="nav-item mb-2"><a href="/About" class="nav-link p-0 text-1">About</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5 class="fw-bold">Costi Projects</h5>
                    <ul class="p-0">
                        <li class="nav-item mb-2"><a href="/Labs/LED" class="nav-link p-0 text-1">LED Controller</a></li>
                        <li class="nav-item mb-2"><a href="/Projects" class="nav-link p-0 text-1">Coding Projects</a></li>
                        <li class="nav-item mb-2"><a href="/Media#series" class="nav-link p-0 text-1">Costi Media Projects</a></li>
                        <li class="nav-item mb-2"><a href="/Minecraft/gov" class="nav-link p-0 text-1">Minecraft Government</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5 class="fw-bold">Costi Online</h5>
                    <ul class="p-0">
                        <li class="nav-item mb-2"><a href="/Account" class="nav-link p-0 text-1">Account Settings</a></li>
                        <li class="nav-item mb-2"><a href="/Wiki/Create" class="nav-link p-0 text-1">Add to Costipedia</a></li>
                        <li class="nav-item mb-2"><a href="/Labs" class="nav-link p-0 text-1">Labs</a></li>
                    </ul>
                </div>
            </div>
            <nav class="d-flex justify-content-center mt-2">
                <a class="px-3 text-1" href="https://www.instagram.com/costikhamis/">Instagram</a>
                <p>|</p>
                <a class="px-3 text-1" href="https://www.youtube.com/@costimedia /">YouTube</a>
                <p>|</p>
                <a class="px-3 text-1" href="https://github.com/CKhamis">GitHub</a>
            </nav>
        </footer>
    </div>
</div>